.segment {
  flex: 1 100%;
  text-align: center;
  margin: auto;
}

.front {
  font-size: 3.5em;
  font-weight: 700;
}

.back {
  font-size: 3em;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.show-answer .back {
  visibility: visible;
  opacity: 1;
}
.enter {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}
.enter.enterActive {
  opacity: 1;
}
.leave {
  opacity: 1;
  transition: opacity .2s ease-in;
}
.leave.leaveActive {
  opacity: 0.01;
}
.appear {
  opacity: 0.01;
}
.appear.appearActive {
  opacity: 1;
  transition: opacity .2s ease-in;
}
