.show-controls {
  height: 20vh;
  position: relative;
}
.red:hover, .green:hover, .blue:hover {
  transform: scale(1.1); 
}
.red:hover:active, .green:hover:active, .blue:hover:active {
  transform: scale(1);
}
.show-controls:hover .marker {
  opacity: 0;
}
.show-controls:hover .green {
  opacity: 1;
  transform: translate3d(50px,-20px,0);
}
.show-controls:hover .green:hover {
  transform: translate3d(50px,-20px,0) scale(1.2); 
}
.show-controls:hover .green:hover:active {
  transform: translate3d(50px,-20px,0) scale(1) rotate(20deg);
}
.show-controls:hover .blue {
  opacity: 1;
  transform: translate3d(0, 30px, 0);
}
.show-controls:hover .blue:hover {
  transform: translate3d(0, 30px, 0) scale(1.2);
}
.show-controls:hover .blue:hover:active {
  transform: translate3d(0, 30px, 0) scale(1) rotate(-35deg);
}
.show-controls:hover .red {
  opacity: 1;
  transform: translate3d(-50px,-20px,0);
}
.show-controls:hover .red:hover {
  transform: translate3d(-50px,-20px,0) scale(1.2);
}
.show-controls:hover .red:hover:active {
  transform: translate3d(-50px,-20px,0) scale(1) rotate(-20deg);
}
.green {
  background-color: #4cff97;
}
.red {
  background-color: #fa4a65;
}
.blue {
  background-color: #5D97FF;
}
.green, .red, .blue, .marker {
  font-size: 1.5em;
  color: white;
  transition: 0.2s;
  opacity: 0;
  border-radius: 3em;
  width: 3em;
  height: 3em;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -30px;
}
.marker {
  opacity: 1;
  background: #d0d0d0;
}
