@import "../base/variables.css";
@import "../base/fonts.css";
@import "../base/reset.css";

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
}

.segment {
  lost-center: 980px;
  display: flex;
  min-height: 100vh;
}
